{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="content">
  <div class="stats">
    <div>
      <a href="{% url '150-accurate-predictions' %}">Top 150 Accurate Predictions</a>
    </div>
    <div>
      <a href="{% url 'transfers-records' %}">Transfers records</a>
    </div>
    <div>
      <a href="{% url 'top50-clubs-by-expenditure'%}">TOP-50 clubs by expenditure</a>
    </div>
    <div>
      <a href="{% url 'top50-clubs-by-income' %}">TOP-50 clubs by income</a>
    </div>
  </div>
</div>
{% endblock %}